<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <a routerLink="/" class="logo"><i class="fas fa-book-open"></i> 
        <img src="LOGO.png" alt=""> LumosLib</a>
    </div>
    <div class="navbar-center">
      <ul class="nav-links">
        <li><a routerLink="/bestsellers" routerLinkActive="active">Bestsellers</a></li>
        <li><a routerLink="/catalogue" routerLinkActive="active">Catalogue</a></li>
        <li><a routerLink="/about-us" routerLinkActive="active">About us</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li *ngIf="username"><a routerLink="/library" routerLinkActive="active">Library</a></li>


      </ul>
    </div>
    <div class="navbar-right">
      <div *ngIf="!username">
        <button routerLink="/login" class="login-btn">Zaloguj się</button>
        <button routerLink="/register" class="login-btn">Rejestracja</button>
      </div>
      
      <div *ngIf="username" class="user-info">
        <a routerLink="/profile" class="profile-link">
          <img
            [src]="'https://api.dicebear.com/6.x/initials/svg?seed=' + username"
            alt="Avatar"
            class="avatar"
          />
          <span class="username">{{ username }}</span>
        </a>
        <button (click)="logout()" class="login-btn">Wyloguj</button>
      </div>
      
    </div>
  </div>
</nav>
