<div class="catalog-container">
  <h1 class="catalog-title">Katalog książek</h1>

  <!-- KATEGORIE (filtry) -->
<div class="cat-filters">
  <button
    *ngFor="let c of categories"
    (click)="setCategory(c)"
    [class.active]="selectedCategory === c">
    {{ c }}
  </button>

  <button
    *ngIf="selectedCategory"
    (click)="setCategory('')">
    Wyczyść
  </button>
</div>

  <!-- SEARCH CONTROLS -->
 <div class="search-controls">
  <input [(ngModel)]="searchTitle" placeholder="Tytuł" class="search-input" />
  <input [(ngModel)]="searchAuthor" placeholder="Autor" class="search-input" />

  <button (click)="searchBooks()" class="search-button">
    Szukaj
  </button>

  <select [(ngModel)]="sortOption" class="sort-select">
    <option value="titleAsc">Tytuł A–Z</option>
    <option value="titleDesc">Tytuł Z–A</option>
    <option value="authorAsc">Autor A–Z</option>
    <option value="authorDesc">Autor Z–A</option>
    <option value="newest">Od najnowszych</option>
    <option value="oldest">Od najstarszych</option>
    <option value="rating">Najwyżej oceniane</option>
    <option value="reviews">Najwięcej recenzji</option>
  </select>
</div>

  <!-- LISTA KSIĄŻEK -->
  <div class="book-grid">
    <app-book-card *ngFor="let book of sortedBooks()" [book]="book"></app-book-card>
  </div>

  <!-- LOAD MORE -->
  <div class="load-more-container">
    <button (click)="loadMore()" [disabled]="loading" class="load-more-button">
      {{ loading ? 'Ładowanie…' : 'Pokaż więcej' }}
    </button>
  </div>
</div>
