<div class="bestsellers-container">
    <h1 class="bestsellers-title">Bestsellery</h1>
  
    <div *ngIf="loading" class="loading">Ładowanie książek...</div>
  
    <div *ngIf="!loading" class="book-grid">
      <!-- <div
        class="book-card"
        *ngFor="let book of books"
        (click)="openBook(book)"
      >
        <img [src]="book.cover" alt="Book cover" class="book-cover" />
        <h3 class="book-title">{{ book.title }}</h3>
        <p class="book-author">{{ book.author }}</p>
      </div> -->
     
    <app-book-card
      *ngFor="let book of books"
      [book]="book"
    ></app-book-card>


    </div>
  <div class="load-more-container">
    <button (click)="loadMore()" [disabled]="loading" class="load-more-button">
      {{ loading ? 'Ładowanie...' : 'Pokaż więcej' }}
    </button>
  </div>

  <div class="personal-rec" *ngIf="recommendations.length">
    <h2>Personal Recommendations</h2>
    <div class="book-grid">
      <app-book-card
        *ngFor="let book of recommendations"
        [book]="book"
      ></app-book-card>
    </div>
  </div>
</div>
  